<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Bangers&family=Neuton&display=swap" rel="stylesheet">
    <title>About - Quiz Game</title>
</head>
<body>
    <nav>
        <div class='navop'><a href="/"> Home </a></div>
        <div class='navop'><a href="/about"> About </a></div>
        <div class='navop'><a href="/help"> Help </a></div>
        <div class='navop'><a href="/contact"> Contact Us </a></div>
    </nav>
    <div>
        <img id='aboutimg'  src="https://leverageedu.com/blog/wp-content/uploads/2020/04/Science-Quiz.png" alt="Error">
    </div>
    <!-- <div > -->
        <p id="aboutdesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure vitae quisquam expedita voluptatem, tenetur cupiditate amet repellendus? Commodi, quod. Hic blanditiis eaque omnis nesciunt. Quidem, corrupti dignissimos. Ut eum voluptatum quo ratione adipisci nisi placeat laborum, tempore, officiis sequi repudiandae? Vel quod id vitae nesciunt expedita laborum explicabo ut, ipsum, doloribus cum repudiandae, tempore corrupti. Ipsum illum nisi in labore nemo deleniti, possimus quaerat quas culpa eaque aspernatur reprehenderit cum eius minima laudantium fugit unde quo. Possimus provident voluptates est dolor dolore dolores, quidem aperiam, modi velit maiores eligendi consectetur eius quisquam! Voluptas sint, et, repudiandae velit tenetur rem laborum omnis soluta, culpa laboriosam architecto porro voluptate ab ad veniam deserunt perspiciatis exercitationem provident quibusdam earum hic. Neque accusamus recusandae, dolore, non hic, id ipsam error nulla illum repudiandae distinctio cupiditate reprehenderit eligendi consectetur minima sapiente autem corrupti esse omnis nisi. Sunt molestias provident magni hic tempora repellendus a natus commodi ea cupiditate omnis at consequuntur harum nemo, similique quo non, quos porro? Quia molestiae accusantium vel laudantium impedit totam? Sit, reiciendis, quibusdam ex voluptatem voluptates, praesentium blanditiis illo consectetur a pariatur voluptatibus quod similique. Error laudantium pariatur ea eveniet soluta vero aliquam deserunt, voluptates minus sequi praesentium delectus voluptatum.</p>
    <!-- </div> -->
</body>
</html>