<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Bangers&family=Neuton&display=swap" rel="stylesheet">
    <title>Contact - Quiz Game</title>
</head>
<body>
    <nav>
        <div class='navop'><a href="/"> Home </a></div>
        <div class='navop'><a href="/about"> About </a></div>
        <div class='navop'><a href="/help"> Help </a></div>
        <div class='navop'><a href="/contact"> Contact Us </a></div>
    </nav>
    <div> 
        <img id='contactimg'  src="https://media.istockphoto.com/photos/-picture-id1311934969?b=1&k=20&m=1311934969&s=170667a&w=0&h=UQ3F8CE5zam5mT5swIliZ9nO7dhX4ZzsALMufFdv6Ys=" alt="Error">
        <div id='contactdesc'>
            <ul>
                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae assumenda temporibus dolorum aut iure ut provident suscipit voluptas id numquam.</li>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore alias accusamus iste officiis ad. Alias natus eius sed porro voluptatibus ad aperiam incidunt fugiat commodi mollitia labore tenetur, ut corrupti?</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ullam delectus qui quo laborum alias?</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure deleniti, tempora deserunt quasi sit in sed officiis, quia fugit dignissimos unde aperiam minima amet sapiente doloribus veniam nesciunt cumque atque odio! Illum explicabo quae at aut odit laboriosam ex sapiente?</li>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem sed recusandae eos mollitia natus iste nulla magni possimus perferendis architecto!</li>
            </ul>
        </div>
    </div>
</body>
</html>